.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 10px 20px;
}

.logo {
  max-width: 25%;
  height: auto;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links a, .nav-links button {
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #ffde59;
  border: none;
  cursor: pointer;
}

.nav-links a:hover, .nav-links button:hover {
  color: white;
  background-color: #ff5a5f;
}
