.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #108Ab1;
  color: white;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.navbar .brand {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #07be8d;
  border-radius: 5px;
}

.nav-links button {
  background: none;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-links button:hover {
  background-color: #e6ba55;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .navbar .brand {
    margin-bottom: 10px;
  }
}
