.feedback-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

.feedback-left {
  background-color: #009fe3;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 3rem;
}

.feedback-right {
  background: url(../assets/bghalf3.png) no-repeat center center;
  background-size: cover;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Feedback form styles */
.feedback-form {
  background-color: #f7f7f7;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  margin-top: -400px;
}

.feedback-form h2 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  text-align: center;
  font-family: fantasy;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  outline: none;
  border-color: #009fe3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.feedback-form button {
  padding: 0.8rem;
  background-color: #ffde59;
  color: black;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 30px;
}

.feedback-form button:hover {
  background-color: #ff5a5f;
  color: white;
}

.feedback-form p.success {
  color: green;
  margin-top: 1rem;
}

.feedback-form p.error {
  color: red;
  margin-top: 1rem;
}

/* Feedback list styles */
.feedback-left h2 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 2rem;
  text-align: center;
  font-family: fantasy;
  color: black;
}

.feedback-item {
  background-color: #f7f7f7;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  border: 1px solid #ccc;
}

/* Feedback item styling */
.feedback-item h3 {
  margin-bottom: 0.5rem;
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
}

.feedback-item p {
  margin-bottom: 0.5rem;
  color: #555;
  font-size: 1rem;
}

.feedback-item small {
  font-size: 0.85rem;
  color: #888;
}

/* Media queries to handle responsiveness */
@media (max-width: 768px) {
  .feedback-container {
    flex-direction: column;
  }

  .feedback-left,
  .feedback-right {
    width: 100%;
  }
}
